<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>send-change-password</title>
</head>
<body>
    <h1>the link was sent succesfuly</h1>
    <p>Please check your email to change password</p>
</body>
</html>